.update-button {
    background-color: indigo;
    color: white;
    padding: 10px;
    width: 20%;
}

.update-button:hover {
    background-color: rgb(149, 0, 255);
}

.update-button:active {
    background-color: rgb(227, 187, 255);
}

.player-input {
    width: 80%;
    padding: 5px;
    margin: 5px;
}